[Unit]
Description=FreeSewing Backend
Documentation=https://freesewing.dev/
# Make sure the Docker service is available
After=docker.service
Requires=docker.service

[Service]
# Load environment file to allow changing presets
EnvironmentFile=/etc/backend/service.env

# Make sure to stop & remove the traefik container if it's running
ExecStartPre=-/usr/bin/docker rm -f $SERVICE_NAME

# Start the container
ExecStart=/usr/bin/docker run --rm \
  --name="${SERVICE_NAME}" \
  --hostname="${SERVICE_NAME}" \
  --network="${SERVICE_NETWORK}" \
  --network-alias="${SERVICE_NAME}.internal" \
  -v "/etc/backend/cookie1.key:/backend/cookie1.key" \
  -v "/etc/backend/cookie2.key:/backend/cookie2.key" \
  -v "/etc/backend/encryption.key:/backend/encryption.key" \
  -v "/etc/backend/jwt.key:/backend/jwt.key" \
  -v "/etc/backend/sluglist.mjs:/backend/sluglist.mjs" \
  -v "/etc/backend/.env:/backend/.env" \
  -v "/data/db:/backend/db" \
  -v "/data/media/img:/backend/img" \
  ${CONTAINER_NAME}:${CONTAINER_TAG}

# Always restart
Restart=always

# Identifier for syslog
SyslogIdentifier=backend

[Install]
WantedBy=default.target
