[Unit]
Description=Reverse proxy for all services on this host
Documentation=https://freesewing.dev/
# Make sure the Docker service is available
After=docker.service
Requires=docker.service

[Service]
# Load environment file to allow changing presets
EnvironmentFile=/etc/traefik/service.env

# Make sure to stop & remove the traefik container if it's running
ExecStartPre=-/usr/bin/docker rm -f $SERVICE_NAME

# Start the traefik container
# Note that we need to expose port 80
# for HTTPS redirect and ACME certificate renewal
ExecStart=/usr/bin/docker run --rm \
  --name="${SERVICE_NAME}" \
  --hostname="${SERVICE_NAME}" \
  --network="${SERVICE_NETWORK}" \
  -p "80:80" \
  -p "443:443" \
  -v "${SERVICE_CONFIG_ROOT}:/etc/traefik" \
  -v "${SERVICE_LOG_ROOT}:/var/log/traefik" \
  ${CONTAINER_NAME}:${CONTAINER_TAG}

# Always restart
Restart=always

# Identifier for syslog
SyslogIdentifier=traefik

[Install]
WantedBy=default.target
