# While developing playbooks, you may want to run them locally
# In which case, copy this file to ansible.cfg and edit it to your own needs.
# (it is included in the .gitignore file so it won't be included in the repo)
[defaults]
# User to authenticate as (update this)
remote_user = ansible
private_key_file = ~/.ssh/fs-ansible

# Location of temporary storage
local_tmp = ~/git/freesewing/local/tmp
remote_tmp = /tmp/ansible
