#####################################################################
#                                                                   #
#  Copy this example.env file to .env                               #
#  and update its contents to configure the backend                 #
#                                                                   #
#  Questions? See: https://freesewing.dev/reference/backend         #
#                                                                   #
#####################################################################

# You can set this to a custom database file
# By default, we use ./tests/database.sqlite
# But keep in mind this will be remove/recreated on each unit test run
# BACKEND_DB_PATH=./tests/database.sqlite

# If you run the frontend in dev mode too, uncomment this line
# for links in outgoing emails to point to your local dev frontend
# BACKEND_WEBSITE_DOMAIN=localhost:3000
# BACKEND_WEBSITE_SCHEME=http

# Set a custom JWT expiry
# BACKEND_JWT_EXPIRY=28d

# Customize MFA service label
# BACKEND_MFA_SERVICE=FreeSewing

# This will go in the JWT issuer, so changing it will revoke all tokens.
# If it is not set, it will be generated at startup
# which means that tokens won't survice a backend restart.
# For this reason, this is often set to 'dev' in development.
BACKEND_INSTANCE=dev

# Settings for OIDC authentication on the forum
# BACKEND_ENABLE_OIDC_PROVIDER=yes
# BACKEND_ENABLE_OIDC_CLIENT_FORUM=yes
# BACKEND_OIDC_CLIENT_FORUM_SECRET=

# Pre-configure AES-256 encryption key of data at rest
# If not set, it will be auto-generated
# BACKEND_ENC_KEY=

# Pre-configure HMAC signing of JWTs
# If not set, it will fall back to BACKEND_ENC_KEY
# BACKEND_JWT_KEY=

# Pre-configure a cookie key (1)
# If not set, it will be auto-generated
# BACKEND_OIDC_PROVIDER_COOKIE_KEY_1=

# Pre-configure a cookie key (2)
# If not set, it will be auto-generated
# BACKEND_OIDC_PROVIDER_COOKIE_KEY_2=

# Pre-configure an encryption key
# If not set, it will be auto-generated

# Scaleway settings for transactional email
# BACKEND_SCALEWAY_PROJECT_ID=
# BACKEND_SCALEWAY_EMAIL_TOKEN=
# BACKEND_NOTIFICATIONS_DOMAIN=notifications.freesewing.eu

# Root folder to store media under
BACKEND_MEDIA_ROOT_FOLDER="./tests/media"
